:root {
    --grid-columns: 1;
    --grid-rows: 1;
    --cell-color: black;
}
body {
    background-color: lightsteelblue;
    margin: 0px;
    padding: 0px;
}
.left-side {
    position: absolute;
    margin: 10px;
}
h1 {
    font-size: 45px;
}
#user-input {
    font-size: 20px;
    height: 30px;
    width: 50px;
}
#rows {
    width: 60px;
    height: 30px;
}
#print {
    height: 35px;
    background-color: white;
    border-style: 1px solid black;
    border-radius: 40px;
}
#reset {
    font-size: 36px;
    background-color: rgb(255, 137, 129);
    height: 150px;
    width: 150px;
    border-radius: 150px;
    border-style: solid;
    border-color: black;
    margin: 20px;
}
#reset:hover {
    box-shadow: 0px 0px 5px 5px rgb(255, 137, 129);
    background-color: red;
}
.grid-container {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(var(--grid-columns), 1fr); 
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    height: 96vh;
    width: 96vh;
    margin-top: 2vh;
    border: 2px solid black;
}
.cell {
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
    margin: 0px;
    padding: 0px;
    background-color: white;
    height: 1fr;
    width: 1fr;
}
.colored {
    background-color: var(--cell-color);
    border-style: none;
}
.right-side {
    position: absolute;
    right: 10%;
    top: 10%;
}